body {
  padding: 100px;
  background-color: #e5e5e5;
}

#myRect {
  transition: height 0.5s ease-in-out; /* 세로값 변경 애니메이션 설정 */
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}
